body{
    background: grey;
  }
  .center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    margin-bottom: 28px;
    margin-left: auto;
    margin-right: auto;
    min-height: 235px;
    min-width: 320px;
    max-width: 412px;
    width: 338px;
    height: auto;
    padding: 36px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 55%);
    border: 1px solid rgba(0,0,0,0.4);
  }
  
  .main-div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .example-full-width{
    width: 100%;
  }
  
  .centerContent{
    justify-content: center;
  }
  .leftContent{
    position: relative;
    justify-content: left;
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .tituloInicio{
    font-size: 15px;
    position: relative;
    left: 0px;
    top: 4px;
    display: block;
    font-weight: 500;
  }
  .mensajeP{
    display: block;
    font-size: 11px;
  }
  .btnCancelar{
    color: #b2b2b2;
    width: 45%;
    border: 1px solid #b2b2b2;
  }
  
  .labelLogin{
    font-weight: 500;
  }
  
  
  
  .mensajeOlvidar:hover{
    font-weight: 500;
  }
  
  
  